{% load staticfiles %}

<div class="">



    <div class="site-section site-blocks-2">
      <div class="container">
        <div class="row">

          {% if chothes_cover %}

            <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
              <a class="block-2-item" href="{% url 'section_detail' keyword='Cloth' %}">
                <figure class="image">
                  {% if chothes_cover.artwork.url %}
                          <img class="img-fluid" src="{{ chothes_cover.artwork.url }}" style="width: 100%; height: 300px;object-fit: cover;">

                  {% endif %}
                </figure>
                <div class="text">
                  <span class="text-uppercase">Collections</span>
                  <h3>Roupa</h3>
                </div>
              </a>
            </div>
          {%endif%}

          {% if shoes_cover %}
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <a class="block-2-item" href="#">
              <figure class="image">
                {% if shoes_cover.artwork.url %}
                  <img src="{{ shoes_cover.artwork.url }}" alt="" class="img-fluid">
                {% endif %}
              </figure>
              <div class="text">
                <span class="text-uppercase">Collections</span>
                <h3>Calcados</h3>
              </div>
            </a>
          </div>
          {%endif%}

          {% if hair_cover %}
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <a class="block-2-item" href="#">
              <figure class="image">
                {% if hair_cover.artwork.url %}
                  <img src="{{ hair_cover.artwork.url }}" alt="" class="img-fluid">
                {% endif %}
              </figure>
              <div class="text">
                <span class="text-uppercase">Collections</span>
                <h3>Cabelos</h3>
              </div>
            </a>
          </div>
          {%endif%}
        </div>
      </div>
    </div>


</div>
