{% load staticfiles %}

{% if sale_object %}
<div class="">
  <div class="site-section block-8">
    <div class="container">
      <div class="row justify-content-center  mb-5">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>{{sale_object.title}}</h2>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-7 mb-5">
          <a href="{% url 'best_sellers' %}"><img src="{{ sale_object.artwork.url }}" alt="Image placeholder" class="img-fluid rounded"></a>
        </div>
        <div class="col-md-12 col-lg-5 text-center pl-md-5">
          <h2><a href="#">{{sale_object.highlight_sentence}}</a></h2>
          <p class="post-meta mb-4">By Irema José <span class="block-8-sep">&bullet;</span> {{sale_object.date}}</p>
          <p>{{sale_object.description}}</p>
          <p><a href="{% url 'best_sellers' %}" class="btn btn-primary btn-sm">Compre agora</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
{%endif%}
