{% extends 'home.html' %}
{% load staticfiles %}

{% block content %}


    <div class="container">

        <div>
            <div class="h1 text-uppercase text-info">About Us</div>
            <p class="text-justify text-dark">At Style Girlfriend, we believe style (or its snootier cousin, “fashion”) is NOT reserved for those with 6-pack abs and a black Amex. Our readers are guys living in big cities and small towns, dads with two kids and a mortgage and undergrads getting by on a ramen noodle budget.
                What they have in common? They know that when you look good, you feel good.
                And that kind of confidence? Well, it’s contagious.
                We’re here to make living with style easier by providing the tips, tricks, and shortcuts to dressing well. So you can start feeling like a million bucks, fast.
            </p>
        </div>

        <div>
            <div class="h1 text-capitalize text-md-left text-info">Our Story</div>
            <p class="text-justify text-dark">
                In 2012, Megan Collins started Style Girlfriend as a favor to a friend.
                He had recently launched a custom suiting company and wanted her to create a blog for the website. She said yes, but only after mentioning her lack of men’s fashion credentials.
                Unfazed, he told her, “Just write about what you like to see guys wearing…and tell them to wear suits more often!’
                That, Megan decided, she could do. Turns out, plenty of guys were looking to pull back the curtain on the style secrets to a woman’s heart (hint: a good fit is king).
                Four years later, Style Girlfriend has grown to a team of awesome ladies with unique voices who all share one mission – to help guys look and feel like a million bucks.
                In 2015, followers around the world got on the inside track to living their most stylish lives. We strive to make Style Girlfriend the number-one destination for style-minded, intelligent men who understand that intention makes all the difference.
            </p>
        </div>
    </div>

{% endblock %}