<div class="">
    <div class="container">

      <footer class="site-footer border-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 mb-5 mb-lg-0">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Categorias</h3>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                    <li><a href="#">Roupas</a></li>
                    <li><a href="#">Calcados</a></li>
                    <li><a href="#">Cabelos</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-lg-3">
              <div class="block-5 mb-5">
                <h3 class="footer-heading mb-4">Contactos</h3>
                <ul class="list-unstyled">
                  <li class="address">Benfica, Luanda</li>
                  <li class="address">Tambem estamos no Rocha Pinto, Luanda</li>
                  <li class="phone"><a href="tel://23923929210">+244 946 342 240</a></li>
                  <li class="email">info@gmail.com</li>
                </ul>
              </div>

            </div>

            <div class="col-lg-3 mb-5 mb-lg-0">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Redes Sociais</h3>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                    <li><a href="#">---</a></li>
                    <li><a href="#">---</a></li>
                    <li><a href="#">---</a></li>
                  </ul>
                </div>
              </div>
            </div>



          <!-- <div class="col-lg-12 mb-5 mb-lg-0">
            <div class="col-lg-6">
              <div class="block-7">
                <form action="#" method="post">
                  <label for="email_subscribe" class="footer-heading">Subscribe</label>
                  <div class="form-group">
                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                  </div>
                </form>
              </div>
            </div>
          </div> -->


          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <p>
              &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> AngoApp. Website by <i class="icon-heart" aria-hidden="true"></i> by <a href="https://angoapp.com" target="_blank" class="text-primary">AngoApp</a>
              </p>
            </div>

          </div>
        </div>
      </footer>

    </div>
</div>
