{%  extends 'master.html' %}
{% load staticfiles %}

{% block content %}

    {% if list_of_item %}
        <div class="container">
            <div class="row spacing-4 ">
            {% for single_item in list_of_item %}

                {% if single_item.artwork.url %}

                    <div class="mb-2 bg-img col-sm-6 col-md-4 col-lg-4 col-xl-3 p-2">
                        <a href="{% url 'item_detail' keyword=single_item.title %}">
                            <img class="img-fluid" src="{{ single_item.artwork.url }}"  style="width: 100%; height: 350px;object-fit: cover;">
                        </a>
                        <h6 class="font-bold">{{ single_item.price }}.00 kz</h6>
                        <h6 class="spacing-2">{{ single_item.title }}</h6>
                    </div>

                {% endif %}

            {% endfor %}
            </div>
        </div>
    {% else %}
        <h2 class="text-center">there is not material available</h2>
    {% endif %}
{% endblock %}